@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');


@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&family=Style+Script&display=swap');
body {
/* width: 100%;
height: 100%;
background-size: 100% 100%; */
/* -webkit-font-smoothing: antialiased; */
/* font-family: "Luckiest Guy", cursive; */
/* font-family: 'Merriweather', serif; */
/* font-family: 'Style Script', cursive; */
font-family: 'Staatliches', cursive;
/* font-family: 'Style Script', cursive; */
  letter-spacing: 1px;
}

.SclFont{
  /* font-family: "Luckiest Guy", cursive; */
  /* font-family: 'Style Script', cursive; */
  letter-spacing: 1px;
}
/* body{
  font-family: 'Merriweather', serif;
  font-family: 'Style Script', cursive;
} */

.trans{
  transition: 0.4s ease-in-out;
}

.transA{
  transition: all 1s ease-in-out;
}

.fullHeight{
    height: 100vh;
}

.fullWidth{
    width: 100vw;
}
.fullWidth-3{
    width: calc(100vw - 4rem)
}
.fullWidth-5{
    margin-left: 85px;
    width: calc(100vw - 10rem)
}
.fullWidth-6{
    width: calc(100vw - 10rem)
}
.fullWidth-14{
    margin-left: 30px;
    width: calc(100vw - 18rem)
}





.loading.line:after {
    content: "/\A–\A\\\A|";
    text-align: center;
    -webkit-animation: spin 1s steps(4) infinite;
    animation: spin 1s steps(4) infinite;
}

#durationpie {
  width: 100%;
  height: 300px;
}

/* body {
  font-family: 'Montserrat';
} */

#refs {
  width: 100%;
  height: 600px;
}

#refseth {
  width: 100%;
  height: 600px;
}

#top20 {
  width: 100%;
  height: 400px;
}

#radar {
  width: 100%;
  height: 400px;
}

#mchart {
  width: 100%;
  height: 400px;
}

#wchart {
  width: 100%;
  height: 300px;
}





/* css for amchart on stats page */
.loading.line:after {
  content: "/\A–\A\\\A|";
  text-align: center;
  -webkit-animation: spin 1s steps(4) infinite;
  animation: spin 1s steps(4) infinite;
}

#durationpie,#distribution_active {
width: 100%;
height: 300px;
}

#refs {
width: 100%;
height: 600px;
}

#refseth {
width: 100%;
height: 600px;
}

#top20,#top10ve {
width: 100%;
height: 400px;
}

#radar {
width: 100%;
height: 400px;
}

#mchart,#testchart {
width: 100%;
height: 600px;
}

#wchart, #nlchart {
width: 100%;
height: 400px;
}





/* For DarkMode */
.ModeSet{
  color: #A3B7A7;
  font-size: 22px;
  border-radius: 50%;
  cursor: pointer;
}



