@tailwind base;
@tailwind components;
@tailwind utilities;



.fullHeight{
    height: 100vh;
}

.fullWidth{
    width: 100vw;
}
.fullWidth-3{
    width: calc(100vw - 4rem)
}
.fullWidth-5{
    margin-left: 85px;
    width: calc(100vw - 10rem)
}
.fullWidth-6{
    width: calc(100vw - 10rem)
}
.fullWidth-14{
    margin-left: 30px;
    width: calc(100vw - 18rem)
}

